* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.dark-mode {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #575555;
  background-color: #1a1919;
}

nav a {
  color: white;
  font-size: larger;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

nav a:hover {
  transition: 0.2s ease-in;
  color: grey;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
img {
  width: 50px;
  height: 50px;
}
iframe {
  width: 100%;
  height: 350px;
}
button {
  color: white;
  background-color: deepskyblue;
  text-align: center;
  width: 250px;
  border-radius: 10px;
  border-color: aqua;
  font-size: x-large;
}
div {
  text-align: center;
}
p {
  text-align: center;
}
